[Unit]
Description=Script manages the api service
After=network.target

[Service]
WorkingDirectory=/home/yosam_db/coordinators-frontend/deploy
ExecStart=/bin/bash /home/yosam_db/coordinators-frontend/deploy/run-server.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
